@using Admin.Panel.Core.Entities
@model Admin.Panel.Core.Entities.ApplicationCompany

@{
    ViewData["Title"] = "Создание Компании";
}

<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" asp-antiforgery="true" class="needs-validation" novalidate>
   
   <div class="form-group mt-5">
       <div class="row">
           <div class="col">
               <div class="col">
                   <h4>Создание компаниии</h4>
               </div>
           </div>
       </div>
   </div>

    <div class="form-group">
        <div class="col-md-10">
            <label asp-for="CompanyName"></label>
            <input asp-for="CompanyName" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label asp-for="CompanyDescription"></label>
            <input asp-for="CompanyDescription" class="form-control" required>
        </div>
    </div>

   <div class="form-group col-md-10 mt-5">
       <button type="button" class="btn btn-outline-primary" id="back-button" >Отмена</button>
       <button type="submit" class="btn btn-primary ml-2">Сохранить</button>
   </div>
</form>




@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}