@using Microsoft.AspNetCore.Identity
@using Admin.Panel.Data.Repositories
@using Admin.Panel.Core.Entities

@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right" asp-antiforgery="true">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="nav-link">Привет, @User.Identity.Name!</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Инструменты
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a asp-controller="Company" asp-action="GetAll" class="dropdown-item">Все компании</a>
                    <a asp-controller="ObjectTypesProperties" asp-action="GetAll" class="dropdown-item">Типы объектов</a>
                    <a asp-controller="ObjectsPropValues" asp-action="GetAll" class="dropdown-item">Все Обьекты</a>
                    <a asp-controller="Property" asp-action="Create" class="dropdown-item">Свойства типа объекта</a>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="Account" asp-action="ChangePassword" class="dropdown-item">Изменить пароль</a>
                    <a asp-controller="ManageUser" asp-action="GetAllUsers" class="dropdown-item">Все пользователи</a>
                </div>
            </li>
            <li>
                <button type="submit" class="btn btn-link nav-link">Выйти</button>
            </li>
        </ul>
    </form>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register" class="nav-link">Создать пользователя</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="LogIn" class="nav-link">Войти</a></li>
    </ul>
}