<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@*<a href="C:\Users\nastya\source\repos\Admin_Panel\Admin.Panel.Web\Views\Shared\_ValidationScriptsPartial.cshtml">C:\Users\nastya\source\repos\Admin_Panel\Admin.Panel.Web\Views\Shared\_ValidationScriptsPartial.cshtml</a>*@
