<div class="container">
    @{
        ViewData["Title"] = "Подтверждение сброса пароля";
    }
    
    <h2>@ViewBag.Title</h2>
    
    <p>
        Ваш пароль был сброшен. Пожалуйста <a asp-action="Login">нажмите здесь, чтобы войти</a>.
    </p>
</div>