@using Admin.Panel.Core.Entities.Questionary
@model Admin.Panel.Core.Entities.Questionary.QuestionaryObjectType

@{
    ViewData["Title"] = "Создание типа объекта";
}

<h2>@ViewBag.Title</h2>

<form asp-action="Create" asp-controller="ObjectTypesProperties" method="post" asp-antiforgery="true" >
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <div class="col-md-10">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <select class="selectpicker" asp-for="SelectedPropertiesId"
                    asp-items="Model.ObjectProperties.Select(p => new SelectListItem(p.Name, p.Id.ToString()))"
                    multiple>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Сохранить</button>
</form>
<a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Создать Свойство</a>
@* TODO редактирование создание проперти *@
<form  method="post" asp-antiforgery="true">
    @* <partial name="Partials/_AddProperty" /> *@
    <button type="submit" class="btn btn-default">Создать Свойство</button>
</form>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}