
@{
    ViewBag.Title = "Error";
}

<div class="row poll-container">
    <div class="col-12">
        <div class="error-container">
            <img src="~/images/error_icon.svg"/>
            <p>Что-то пошло не так...</p>
        </div>
    </div>
</div>