@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container-fluid">
    <div class="row">
        <header class="col-md-3">
            <nav class="sidebar-sticky bg-dark navbar-dark navbar-expand-md">
                <a href="#" class="logo navbar-brand">Logo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto flex-column">
                        <li class="nav-item active">
                            <a href="" class="nav-link">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Проекты</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Команда</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Отзывы</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Контакты</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- end header -->

        <main class="col-md-9">
            <h1>Привет, это сайт!</h1>
        </main>
        <!-- end main -->
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h5 class="text-white h4">Collapsed content</h5>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</div>
