@using Admin.Panel.Core.Entities.Questionary
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Admin.Panel.Core.Entities.Questionary.Questions.QuestionaryDto

@{
    var i = Model.IndexCurrentQuestion;
}
@if (Model.QuestionaryInputFieldTypes.Count != 0)
{
    <div class="col-md-10 ">
        <div class="col">
            <div class="row">
                <label asp-for="QuestionaryInputFieldTypes"></label>
            </div>
            <div class="row">
                <select class="new-selectpicker" asp-for="QuestionaryQuestions[i].QuestionaryInputFieldTypeId"
                        asp-items="Model.QuestionaryInputFieldTypes.Select(o => new SelectListItem(o.Name, o.Id.ToString()))" required>
                    <option selected="selected" disabled="disabled"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="col aa-container">
        <div class="row">
            <div class="col form-group">
                <div class="row">
                    <label asp-for="QuestionaryQuestions[i].SelectableAnswers"></label>
                </div>
                <div class="row">
                    <select class="new-selectpicker" asp-for="QuestionaryQuestions[i].SelectableAnswersIds"
                            asp-items="Model.SelectableAnswers.Select(o => new SelectListItem(o.AnswerText, o.Id.ToString()))" required>
                        <option selected="selected" disabled="disabled"></option>
                    </select>
                </div>
            </div>
            @foreach (var answr in Model.SelectableAnswers)
            {
                <div>
                    @answr.AnswerText
                </div>
                <div class="col form-group form-check">
                    <input asp-for="@answr.IsInvolvesComment" type="checkbox" class="form-check-input">
                    <label asp-for="SelectableAnswers[i]" class="form-check-label align-bottom">Нужен комментарий</label>
                </div>
            }
        </div>
    </div>
}