@using Admin.Panel.Core.Entities.Questionary
@model Admin.Panel.Core.Entities.Questionary.Questions.QuestionaryDto
@using static System.Linq.Enumerable;

<div class="container">
@{
    ViewData["Title"] = "Создание Анкеты";
}
</div>

<partial name="_ReactStepper"></partial>