@using Admin.Panel.Core.Entities.Questionary
@model Admin.Panel.Core.Entities.Questionary.Questions.QuestionaryDto
@using static System.Linq.Enumerable;
@using System.ComponentModel.DataAnnotations
@using Admin.Panel.Core.Entities.Questionary.Questions
<div class="container">
@{
    ViewData["Title"] = "Редактирование анкеты";
}
<div class="justify-content-center">
    <h4>Редактирование анкеты "@Model.Name"</h4>
</div>
</div>

<partial name="_ReactStepper"></partial>